@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-[scroll_15s_linear_infinite] {
  animation: scroll 15s linear infinite;
}



@font-face {
  font-family: "Alinea Incise W01 Regular";
  src: url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.eot");
  src: url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/dacf293f8c5019e3f9c8191c483ac33d.svg#Alinea Incise W01 Regular")format("svg");
}

@layer utilities {
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  @keyframes cross {
    0% {
      transform: translate(0, 0);
    }

    50% {
      transform: translate(-20%, -20%);
    }

    100% {
      transform: translate(0, 0);
    }
  }

  .animate-gradient {
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
  }

  .animate-cross {
    animation: cross 20s linear infinite;
  }
}
.heading-font {
  font-family: "Audiowide", serif;
  font-weight: 400;
  font-style: normal;
}
